.title {
  font-family: WorkSans;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2em;

  span {
    font-weight: 700;
  }
}

.title-paragraph {
  font-family: Lato;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5em;
}
